
* {
  box-sizing: border-box;
}

:root {
  --federal-blue: #191b61;
  --champagne-pink: #f5dbcb;
  --pomp-power: #8d6b94;
  --chocolate-cosmos: #4f000b;
  --blue-munsell: #62929e;
  --background-blue: #87b5b5;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
}


.editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 70%;
  margin: 10px;
  border: 1px solid var(--federal-blue);
  border-top: none;
  margin-bottom: 10px;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 90%;
  min-height: 45vh;
  border: 1px solid var(--federal-blue);
  border-top: none;
  margin-top: 10px;
}

.toolbar {
  display: flex;
  align-items: center;
  color: var(--champagne-pink);
  background-color: var(--federal-blue);
  width: 100%;
  padding-left: 5px;
  /* text-align: ; */
  height: 30px;
  border: 1px solid var(--federal-blue);
}

#preview {
  background-color: var(--blue-munsell);
  width: 100%;
  height: 100%;
  border: 1px solid var(--federal-blue);
  /* border-top: none; */
}

#editor {
  /* margin: 20px auto; */
  width: 100%;
  height: 45vh;
  border-top: none;
  background-color: var(--blue-munsell);
}

#max-btn {
  margin-left: auto;
  padding: 0 5px;
}

button {
  cursor: pointer;
  background-color: var(--federal-blue);
  color: var(--champagne-pink);
  border: none;
}

button:hover {
  color: var(--pomp-power);
}

.fa-free-code-camp {
  padding-right: 5px;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

#preview code {
  background-color: white;
}
